
        body {
          margin: 0;
        }
        
        ul {
          list-style-type: none;
          margin: 0;
          padding: 15px;
          width: 25%;
          background-color: rgb(39, 37, 61);
          position: fixed;
          height: 100%;
          overflow: auto;
        }
        
        li a {
          display: block;
          color: rgb(255, 255, 255);
          padding: 8px 16px;
          text-decoration: none;
          border-radius: 10px;
          margin-bottom: 5px;
        }
        
        li a.active {
          background-color: rgb(147, 142, 199);
          color: black;
          font-weight:bolder;
          text-decoration: none;
        }
        
        li a:hover:not(.active) {
          background-color: rgb(147, 142, 199);
          color: rgb(39, 37, 61);
          font-weight:bolder;
          text-decoration: none;
        }
        .mytable{
            margin:20px auto;
            padding-top:20px;
            border-radius: 10px;
            border-color:rgb(255, 255, 255);
            max-width:1100px;
        }
        .mybtn{
            display:block;
            margin:20px auto;
            max-width:100px;
            background-color:rgb(39, 37, 61);
            border-color: rgb(39, 37, 61);
            font-weight:bolder;
        }
         
       